canvas.chartjs-render-monitor {
    max-height: 80vh;
}

table {
    width: 100%;
}

button.btn.btn-primary {
    /* float: right; */
    /* margin-top: 50%; */
    position: absolute;
    right: 0;
    bottom: 0;
}