<div>
<table>
        <tr>
            <th>Retirement Age</th>
            <th>Monthly Benefit</th>
            <th>Age to Break Even</th>
            <th>Total at 75</th>
            <th>Total at 85</th>
            <th>Total at 95</th>
        </tr>
        <tr *ngFor="let benefit of inputInfo.user.monthlyBen; let i=index">
            <td>{{ inputInfo.startAge[i] }}</td>
            <td>{{ benefit }}</td>
            <td>{{inputInfo.breakEven[i].evenAge}}</td>
            <td>{{ benefit  * ((75 -  inputInfo.startAge[i])* 12) }}</td>
            <td>{{ benefit  * ((85 -  inputInfo.startAge[i])* 12) }}</td>
            <td>{{ benefit  * ((95 -  inputInfo.startAge[i])* 12) }}</td>
        </tr>
    </table>
</div>
 <button class="btn btn-primary save" (click)="clickSave()">Save</button>
 <clr-modal [(clrModalOpen)]="saved">
    <h3 class="modal-title">Succes!</h3>
    <p>You can now see your saved results on the profile page</p>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="saved = false">Cancel</button>
        <button type="button" class="btn btn-primary" href="#" [routerLink]="['/test']">Go to profile</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="noSave">
    <h3 class="modal-title">You must log-in to save your results</h3>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="noSave = false">Cancel</button>
        <button type="button" class="btn btn-primary" href="#" [routerLink]="['/log-in']">Log-in</button>
    </div>
</clr-modal>