table {
    width: 100%;
}

th {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    word-wrap: normal;
    border: 2px solid;
}

tr {
    text-align: center;
}

td {
    border: 1px solid;
}

.save {
    position: absolute;
    right: 0;
    bottom: 0;
}