<div>
<table>
        <tr>
            <th>Retirement Age</th>
            <th>Monthly Benefit</th>
            <th>Age to Break Even</th>
            <th>Total at 75</th>
            <th>Total at 85</th>
            <th>Total at 95</th>
        </tr>
        <tr *ngFor="let benefit of inputInfo.user.monthlyBen; let i=index">
            <td>{{ inputInfo.startAge[i] }}</td>
            <td>{{ benefit }}</td>
            <td>{{inputInfo.breakEven[i].evenAge}}</td>
            <td>{{ benefit  * ((75 -  inputInfo.startAge[i])* 12) }}</td>
            <td>{{ benefit  * ((85 -  inputInfo.startAge[i])* 12) }}</td>
            <td>{{ benefit  * ((95 -  inputInfo.startAge[i])* 12) }}</td>
        </tr>
    </table>
</div>
 <button class="btn btn-primary" (click)="clickSave()">Save</button>