<clr-main-container>
  <clr-header>
    <div class="branding" style="min-width: 90px">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a *ngIf="!_user.token" class="nav-link" href="#" [routerLink]="['/log-in']" routerLinkActive="active"><span class="nav-text">Log-in</span></a>
          <a *ngIf="_user.token" class="nav-link" href="#" [routerLink]="['/test']" routerLinkActive="active"><span class="nav-text">Profile</span></a>
      </div>
    <div class="header-actions">
      <clr-dropdown
      *ngIf="_user.token">
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>About</a>
                <a href="..." clrDropdownItem>Preferences</a>
                <a type="button" href="#" clrDropdownItem
                (click)="logOut()">Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
  
</clr-main-container>
<!--<clr-main-container>-->
    <!--<app-input-form></app-input-form>-->
     
<!--</clr-main-container>-->


