<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to the</h3>
            SSI Calculator
            <h5 class="hint">Start planning for your future</h5>
        </label>
        <div class="login-group">
            <input class="firstname" type="text" id="firstname" placeholder="First Name">
            <input class="lastname" type="text" id="lastname" placeholder="Last Name">
            <input class="Email" type="email" id="Email" placeholder="E-mail">
            <input class="password" type="password" id="password" placeholder="Password">
            <div class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </form>
</div>