<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">Register to save your results!</h3>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" href="#" [routerLink]="['/sign-up']">Ok</button>
    </div>
</clr-modal>

<div class="brand-container">
    <img class="branding" src="http://icons.iconarchive.com/icons/flat-icons.com/flat/512/Beer-icon.png">
</div>
<div  *ngIf="statementQ" id ="form">
    <form #haveInfo="ngForm">
        <section class="form-block">
            <div class="form-group">
                <label>Do you have your <a href="https://www.ssa.gov/myaccount/statement.html">Social Security Statement?</a></label>
                <div class="radio-inline">
                <input type="radio" name="gridRadios1" id="checkrads_11 statement" 
                (click)="statementYes()">
                <label for="checkrads_11">Yes</label>
                </div>
                <div class="radio-inline">
                <input type="radio" name="gridRadios1" id="checkrads_12" 
                (click)="statementNo()">
                <label for="checkrads_12">No</label>
                </div>
            </div>
        </section>
    </form>
</div>

<div id="form" *ngIf="!statementQ">
<form #inputForm="ngForm">
    <section class="form-block">
        <label>Please enter your information</label>
        <div class="form-group">
            <label class="inputQ" for="dob">Date of Birth</label>
            <label for="dob"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="dobInput.invalid && (dobInput.dirty || dobInput.touched)">
                <input type="date" id="dob" placeholder="Enter date of birth"
                    required
                    name="dob"
                    [(ngModel)]="inputInfo.user.dob"
                    #dobInput="ngModel">
                <span class="tooltip-content">
                    Date of Birth is Required.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label style="width: 300px" class="inputQ" for="ssiAmount">Total Social Security Taxes Paid
                <clr-signpost>
                    <clr-signpost-content *clrIfOpen="openState">
                        <h3 style="margin-top: 0">Total amount paid into Social Security</h3>
                        <p>How much have you paid in Social Security taxes?  It is ok to estimate!</p>
                    </clr-signpost-content>
                </clr-signpost>
            </label>
            <label for="ssiAmount"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="ssiInput.invalid && (ssiInput.dirty || ssiInput.touched)">
                <input type="number" min="0" step="100" id="ssiAmount" placeholder="Enter amount"
                    required
                    name="ssiAmount"
                    [(ngModel)]="inputInfo.user.ssiAmount"
                    #ssiInput="ngModel">
                <span class="tooltip-content">
                    Amount is Required.
                </span>
            </label>
        </div>
        <div class="form-group" *ngIf="!statement">
            <label class="inputQ" for="avgIncome">Average Yearly Income
            <clr-signpost>
                    <clr-signpost-content *clrIfOpen="openState">
                        <h3 style="margin-top: 0">Social Security is based on past income.</h3>
                        <p>Your future Social Security payments are based on an average of 35 of your highest earning years, adjust (indexed) for inflation.</p>
                    </clr-signpost-content>
                </clr-signpost>
            </label>
            <label for="avgIncome"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="incomeInput.invalid && (incomeInput.dirty || incomeInput.touched)">
                <input type="number" min="0" step="100" id="avgIncome" placeholder="Enter average annual income"
                    required
                    name="avgIncome"
                    [(ngModel)]="inputInfo.user.income"
                    #incomeInput="ngModel">
                <span class="tooltip-content">
                    Amount is Required.
                </span>
            </label>
        </div>
        <div class="form-group" *ngIf="statement">
            <label class="inputQ" for="monthlyBen">Your Monthly Payment(from top of statement)</label>
            <label for="monthlyBen"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="benefitInput.invalid && (benefitInput.dirty || benefitInput.touched)">
                <input type="number" value="1000" min="0" step="100" id="monthlyBen" placeholder="Enter monthly payment"
                    required
                    name="monthlyBen"
                    [(ngModel)]="inputInfo.user.income"
                    #benefitInput="ngModel">
                <span class="tooltip-content">
                    Amount is Required.
                </span>
            </label>
        </div>
       
        <button class="btn btn-primary" type="submit"
            (click)="onClickCalc()"
            [disabled]="inputForm.form.invalid">Get your benefit amount</button>
    </section>
</form>


<!--<div *ngIf="inputInfo.user.monthlyBen">-->
<!--<table>-->
<!--        <tr>-->
<!--            <th>Retirement Age</th>-->
<!--            <th>Monthly Benefit</th>-->
<!--            <th>Total at 75</th>-->
<!--            <th>Total at 85</th>-->
<!--            <th>Total at 95</th>-->
<!--        </tr>-->
<!--        <tr *ngFor="let benefit of inputInfo.user.monthlyBen; let i=index">-->
<!--            <td>{{ inputInfo.startAge[i] }}</td>-->
<!--            <td>{{ benefit }}</td>-->
<!--            <td>{{ benefit  * (75 -  inputInfo.startAge[i]) }}</td>-->
<!--            <td>{{ benefit  * (85 -  inputInfo.startAge[i]) }}</td>-->
<!--            <td>{{ benefit  * (95 -  inputInfo.startAge[i]) }}</td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->




 <!--<div class="form-group ">-->
        <!--    <label for="gender">Gender</label>-->
        <!--    <div class="select">-->
        <!--        <select id="gender"-->
        <!--            name="gender"-->
        <!--            [(ngModel)]="inputInfo.user.gender">-->
        <!--            <option value="Default">Select your gender</option>-->
        <!--            <option *ngFor="let type of gender"  [value]="type">{{type}}</option>-->
        <!--            <option value="Default">Select your gender</option>-->
        <!--            <option>Female</option>-->
        <!--            <option>Male</option>-->
        <!--        </select>-->
        <!--    </div>-->
        <!--</div>-->