.brand-container {
  text-align: center;
}

.branding {
  width: 360px;
}

#form {
  // height: 50vh;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#statment {
  height: 30vh;
}

.inputQ {
  width: 300px;
}

#dob, #ssiAmount, #avgIncome, #monthlyBen{
  margin-left: 50px;
}

