<div class="login-wrapper">
    <form #login="ngForm" class="login">
        <label class="title">
            <h3 class="welcome">Welcome to the</h3>
            SSI Calculator
            <h5 class="hint">Use your E-mail to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <input class="email" type="email" id="Email" name="email" 
            placeholder="Enter your E-mail"
            [(ngModel)]="_user.email">
            <input class="password" type="password" id="password" name="password"
            placeholder="Password"
            [(ngModel)]="_user.password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary"
            (click)="onLogIn()">NEXT</button>
            <div>
                <span>Don't have an account?</span><a href="/sign-up" class="signup">register</a>
            </div>
        </div>
    </form>
</div>